*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:#2f3542;
}
.skills{
    width: 100%;
    max-width: 600px;
    padding: 0 20px;
}
.skillName{
    font-size: 18px;
    color: white;
    margin: 17px  0;
}
.skillbar{
    height: 10px;
    background: #57606f;
    border-radius: 3px;
}
.skillPer{
    background: #ff6348;
    height: 10px;
    border-radius: 3px;
    position: relative;
    animation: fillbars 2.5s 1;
}
.skillPer::before{
    content: attr(per);
    position: absolute;
    padding: 4px 0;
    background-color: white;
    border-radius: 5px;
    font-size: 12px;
    top: -35px;
    right: 0;
    transform: translate(50%);
    width: 30px;
    text-align: center;

}
.skillPer::after{
    content: "";
    position: absolute;
    height: 12px;
    width: 4px;
    background-color: white;
    top: -20px;
    right: 0;
    transform: translate(50%);
    transform: rotate(55deg);
}

@keyframes fillbars{
    from{
        width: 0px;
    }
    to{
        width: 100%;
    }
}